/01-loading-the-data.py
/02-merging-dataframes.py
/03-calculating-grades.py
/04-grouping-the-data.py
/05-plotting-summary-statistics.py
/06-final-gradebook.py
/data
/generate_data.py
/README.md
/requirements.txt